body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

.page {
    background-color: #db7953;
    color: #004643;
    height: 100%;
    padding: 10% 20%;
    width: 100;
    font-family: Helvetica;
    overflow-x: scroll;
}

.judith.page {
    background-color: #004643;
    color: white;
}

.heart {
    font-weight: 100;
    font-size: 200px;
    margin: 0;
    margin-bottom: 50px;
}

.copy {
    font-size: 25px;
    font-weight: 100;
}

.mercedes {
    width: 20%;
    min-width: 230px;
}

.road {
    padding-left: 0;
    height: 100px;
    transition: 5s padding ease-in-out;
    width: 100%;
    display: block;
}

.road:hover {
    width: 100%;
    padding-left: 1000px;
}

.text-link {
    color: #004643;
    text-decoration: none;
    cursor: pointer;
}

.text-link:hover {
    background: linear-gradient(90deg,#004643, #F9D423, #e65c00, #004643);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 1000px 0;
    transition:background-position 8s ease-in; 
}

.skills-container {
    display: flex;
}

.flex {
    display: flex;
}

/*  code */

.code.page {
    background-color: white;
}

.judith.copy, .judith .text-link {
    color: white;
}

.logo {
    width: 10%;
    margin: 15px;
}

.work {
    width: 100%;
}

.work-section {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}

.👀 {
    font-size: 100px;
    text-align: center;
}

.🏆 {
    font-size: 50px;
    text-align: center;
}

.black-logo {
    fill: black;
}

/*social*/
.social {
    list-style: none;
    padding: 0;
    bottom: 0;
    right: 15px;
}

.social li {
    display: inline-block;
}

.social-link {
    fill: white;
}

.social-link:hover {
    fill: #e8004d;
    transition: all 0.3s ease-in;
}

.cv-circle {
    fill: none;
    stroke: white;
    stroke-width: 4;
}

#cv-link {
    width: 50px;
    height: 50px;
}

#cv-link:hover .cv-circle{
    stroke: #e8004d;
    transition: all 0.3s ease-in;
}

/* mobile */

@media screen and (max-width: 600px) {
    .page {
        padding: 5%;
    }

    .heart {
        font-size: 120px;
    }

    .copy {
        font-size: 20px;
    }

    .👀 {
        font-size: 40px;
    }

    .🏆 {
        font-size: 30px;
    }

    .skills-container {
        display: block;
    }
}
